/**
 * Discord-like invocation code styling
 */
.markdown-section pre.language-invocation::after {
  color: rgb(220, 222, 225);
}
code.language-invocation {
  background-color: rgb(49, 51, 56) !important;
  color: rgb(220, 222, 225);
  border-radius: var(--border-radius-s);
  padding: var(--code-inline-padding);
}
code.language-invocation span.token.value {
  color: rgb(242, 243, 245);
  font-weight: bold;
}
