/**
 * Sidebar header logo
 */
.app-name img {
  width: 64px;
}

/*
 * nested lists
 */
.markdown-section ol ol {
  list-style: lower-alpha;
}

/*
 * display indented lines in examples
 */
ul.indented-lines {
  list-style: none;
}
