/**
 * Sidebar header logo
 */
.app-name img {
  width: 64px;
}

/*
 * nested lists
 */
.markdown-section ol ol {
  list-style: lower-alpha;
}

/*
 * display indented lines in examples
 */
ul.indented-lines {
  list-style: none;
}

/*
 * round off the corners of all regular images
 */
.markdown-section img {
  border-radius: var(--border-radius-m);
}

/*
 * Custom example callout
 */
.markdown-section .example {
  border-color: green;
  background-color: hsl(125, 60%, 96%);

  &:before {
    content: "";
    color: #fff;
    background: green url("../_images/code-icon.svg") center / 0.875em no-repeat;
  }
}

@media (prefers-color-scheme: dark) {
  .markdown-section .example {
    background-color: hsl(125, 18%, 19%);
  }
}
